<h2>Cadastro de Produtos</h2>
<form (ngSubmit)="cadastrarProduto()" class="formulario">
  <label for="nome">Nome: </label>
  <input
    type="text"
    id="nome"
    name="nome"
    [(ngModel)]="novoProduto.nome"
    required
  />

  <label for="preco">Preço: </label>
  <input
    type="number"
    id="preco"
    name="preco"
    [(ngModel)]="novoProduto.preco"
    required
  />

  <label for="descricao">Descrição: </label>
  <input
    type="text"
    id="descricao"
    name="descricao"
    [(ngModel)]="novoProduto.descricao"
    required
  />

  <label for="estoque">Estoque: </label>
  <input
    type="number"
    id="estoque"
    name="estoque"
    [(ngModel)]="novoProduto.quantidadeEstoque"
    required
  />

  <label for="unidadeMedida">Unidade de Medida: </label>
  <select
    id="unidadeMedida"
    name="unidadeMedida"
    [(ngModel)]="novoProduto.unidadeMedida"
    required
  >
    <option>Unidade</option>
    <option value="metro">Quilograma (kg)</option>
    <option value="centimetro">Litro (L)</option>
    <option value="decimetro">Metro (m)</option>
    <option value="milimetro">Unidade 5</option>
  </select>
  <label for="fornecedor">Fornecedor: </label>
  <select
    id="fornecedor"
    name="fornecedor"
    [(ngModel)]="novoProduto.fornecedor"
    required
  >
    <option value="op1">S.I Canetas</option>
    <option value="op2">S.I Leite</option>
    <option value="op3">S.I Farinha</option>
    <option value="op4">S.I Laptops</option>
    <option value="op5">S.I Frutas</option>
  </select>

  <div class="btAtivo">
    <label for="ativo" class="ativo-label">Ativo:</label>
    <input
      type="checkbox"
      id="ativo"
      name="ativo"
      [(ngModel)]="novoProduto.ativo"
      required
      class="ativo-checkbox"
    />
  </div>

  <br />

  <button type="submit">Salvar</button>
</form>
