<h2>Listagem de Produtos</h2>
<table class="lista-produtos">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Quantidade em Estoque</th>
      <th>Unidade de Medida</th>
      <th>Fornecedor</th>
      <th>Ativo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.nome }}</td>
      <td>{{ produto.descricao }}</td>
      <td>R$ {{ produto.preco }}</td>
      <td>{{ produto.quantidadeEstoque }}</td>
      <td>{{ produto.unidadeMedida }}</td>
      <td>{{ produto.fornecedor }}</td>
      <td>{{ produto.ativo ? "Sim" : "Não" }}</td>
    </tr>
  </tbody>
</table>
